<html>
  <head>
    <title>Spriggly-Wiggly</title>
    <style>
      p, h1, h2, h3, h4, ul, li, a, label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #157DA6;
        text-align: center;
      }
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>We Serve(er) Foodz!</h1>
    <h3>Edit a restaurant!</h3>
    <h4><a href='/'>All Restaurants</a></h4>

  </body>
</html>
