<html>
  <head>
    <title>Spriggly-Wiggly</title>
    <link rel='stylesheet' href='/css/spriggly_wiggly_style.css' type='text/css' ></link>
  </head>
  <body>
    <h1>Spriggly-Wiggly.io</h1>
    <h1>We Serve(er) Foodz!</h1>
    <h3>look at our restaurants</h3>
    <h4><a href='/restaurants/create'>Create a New Restaurant</a></h4>

  </body>
</html>
